footer {
    width: 100%;
    height: 800px;
    font-family: Pretendard, "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;
}

body {
    margin: 0px;
}

ul {
    display: flex;
    justify-content: left;
    padding: 0;
    margin: 13px 0 0;
    list-style: none;
}

.top {
    height: 62px;
    background-color: #101113;
}

.top > span {
    color: #95aab4;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    padding-top: 18px;
}

.top > span > em {
    color: #ff2f6d;
}

.bottom {
    height: 352px;
    padding: 20px 0px 38px;
    font-size: 13px;
    background-color: #1c1d1f;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
    color: #95aab4;
}

.lists > span {
    font-weight: bold;
}